*{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color:whitesmoke ;
}
.card{
   width:3000px;
   max-width:470px;
   background-color: #7A9D54;
   color: white;
   margin:10px auto 0;
   border-radius: 20px;
   padding: 40px 35px;
   text-align: center; 
}
.search {
 width:100%;
 display:flex;
 align-items:center;
 justify-content:space-between;}
.search input{
    border: 0;
    outline:0;
    background-color:#F2EE9D;
    color:black;
    padding: 10px 25px;
    height: 60px;
    border-radius:30px;
    flex: 1;
    margin-right: 16px;
    font-size:18px;
}
.search button{
    border: 0;
    outline:0;
    background-color:#F2EE9D;
   cursor: pointer;
   border-radius:50%;
   width:60px;
   height: 60px;
}
.search button img{
    width:16px;
}
.we-icon {
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size:80px;
    font-weight:500px;
}
.weather h2 {
    font-size:45px;
    font-weight:400px; 
    margin-top: -10px;
}
.detail{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    margin-top: 50px;
}
.col {
    display: flex;
    align-items: center;
    text-align: left;
}
.col img {
    width: 40px;
    margin-right: 10px;
}
.humid, .wind{
    font-size: 1rem;
    margin-top:-6px;
}
.weather{
    display: none;
}
.err{
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}
.logo img{
    width:35px;
    border-radius: 1px;
    margin-right: 7px;
    margin-top:9px;
}